/* style.css */
html {padding:0px; margin:0px;}
body {
	background-color: #454;   
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABHNCSVQICAgIfAhkiAAAAB1JREFUCJlj+P//v/z///+5GNABBRLosv///5cHAFlkHrD/0XanAAAAAElFTkSuQmCC);
	/*background-repeat: repeat-x;*/
    color: black;
    font-family: sans-serif, monospace;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
a{text-decoration:none; color:#151;}
a:visited{text-decoration:none; color:#151;}
a:active{text-decoration:underline; color:#181;}
a:hover{text-decoration:underline; color:#181;}
a img {border: none;}
.shadow, .article, #body, #footer {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
	behavior: url(PIE.htc);
}
.center { text-align: center; }
.text {text-align: justify; text-indent: 20px;}
.content {margin: 0px; padding: 10px;}
.holder {position:relative;}

#header {
    margin: 0px;
    position: relative;
    text-align: center;
    width: 100%;
}
#header_logo {
    background-color: green;
    /*background:url(../img/header_top_bg.gif);*/
	background-image: url(data:image/gif;base64,R0lGODlhAQCEAOYAAAAAAP///yIhIiAfICYlJjEwMTU0NUA/QACNFABiDgBfDgBZDQBQCwBFCgA2CAAqBgAhBQGNFCmeOgKOFAOOFAWPEwaQEweQEwmREwuSEgySEg6TEhCUEhKVETAxMC4vLiwtLBSVERaWERqYEBiXEByZEB+aDyOcDyGbDyWdDiieDiufDi+hETalFkGpIFCwLV62PGy8SnfBVX3EW/j4+Pb29vX19fT09PHx8fDw8Ovr69jY2NHR0by8vLCwsKampoWFhXBwcE5OTk1NTUxMTEtLS0pKSj8/Pz4+PjY2NjU1NTQ0NDMzMzIyMi8vLy4uLisrKygoKCQkJBgYGP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAFQALAAAAAABAIQAAAdjgFNIg0cHTgMCUgRRUCBPBU1LBklKTE0eHwiam5ydnp+gnxETFBUWFxgZGhscHSEiJCMlJignKSorLC0uLzAxMjMQDw4NDAsKCQkSQj48Ojk3NDY4Oz0/QDVLQUZCQ0RFRUaBADs=);
    color: #333;
    height: 85px;
    padding-top: 25px;
}
#header_logo h1 {line-height:60px; font-size: 40px; color: #CCC; text-shadow: #030 4px 4px 4px; margin:0px auto 20px; padding:0px;}
#main_menu {
    background-color: #555;
    background-image:url(data:image/gif;base64,R0lGODlhAQAxAKUoABsbGy0tLS4uLi8vLzAwMDExMTIyMjMzMzQ0NDU1NTY2Njc3Nzg4ODo6Ojw8PEREREVFRUZGRkhISElJSUpKSktLS0xMTE1NTU5OTnBwcIWFhY6OjqamprCwsLy8vNHR0djY2Ovr6/Dw8PHx8fT09PX19fb29vj4+P///////////////////////////////////////////////////////////////////////////////////////////////yH5BAEKAD8ALAAAAAABADEAAAYtQEznExKRTqURyMPRmBAZCuZiqVQolIlEEoFAHo5Gg7FQJBAHQ4EwEAQCG0AQADs=);
    color: white;
    position: relative;
    text-align: center;
    width: 100%;
}
#main_menu ul {
    height: 49px;
    list-style-type: none;
    margin: 0px auto;
    padding: 0px 0px 0px 220px;
    width: 900px;
}
#main_menu ul li {
    display: block;
    float: left;
    height: 32px;
    margin-top: 13px;
    overflow: hidden;
    /*width: 180px;*/
}
/*#main_menu ul li:first-child{border-left:1px solid #777;}*/

#main_menu li.ui-state-default{
    background-color:#999;
    background-image:url(../img/menu_button.gif);
    border-left: 1px solid #DDD;
    border-right: 1px solid #222;
    /*border-top: 0px solid #DDD;
    border-bottom: 0px solid #222;*/
}
#main_menu li.ui-tabs-selected {
    background-color:#999;
    background-image:url(../img/menu_button_down.gif);
    border-left: 1px solid #333;
    border-right: 1px solid #AAA;
    /*border-top: 0px solid #555;
    border-bottom: 0px solid #FFF;*/
}

#main_menu li a {
    display: block;
    color: #EEE;
    line-height: 32px;
    width:100px;
    text-align: center;
    text-shadow: #090 1px 1px 1px;
    font-size: 15px;
    font-weight: bold;
    margin:0px;
    padding:0px 20px;
}
#main_menu li a:hover {
    text-decoration: none;
    /*font-weight: bold;*/
    color: #FFF;
    text-shadow: #333 1px 1px 1px;
}
#main_menu li.ui-tabs-selected a {color:#DDD; text-shadow: #545 1px 1px 1px;}
#main_menu li.ui-tabs-selected a span {position: relative; top: 2px;}
/*#main_menu ul li a span{ width:100px;height:24px;}*/

#body {
    display: table;
    margin: 20px auto;
    padding: 10px;
    width: 900px;
    background-color: #888;
	
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url(PIE.htc);
}

h1 {
    margin: 0px auto;
    padding: 5px;
    text-align: center;
}

.left_column, .main_content, {
    position: relative;
    padding: 0px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
	border-radius: 10px;
	behavior: url(PIE.htc);
}
.left_column {
    width: 200px;
    float: left;
    margin-right: 10px;
}
.main_content {
    margin-bottom: 10px;
    float: right;
    /*color:black;*/
    min-height: 300px;
    width: 670px;
}

.left_column .article {
    background-color: #CCC;
    padding: 5px;
    margin: 0px 0px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    min-height: 50px;
	behavior: url(PIE.htc);
}
.main_content .article {
    background-color: #DDD;
    padding: 0px 0px 10px;
    margin: 0px 0px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	behavior: url(PIE.htc);
}

.article h1 {
    color: white;
    font-size: 15px;
    margin: 0px 0px 5px;
    padding: 4px 0px 2px 10px;
    background-color: #050;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	behavior: url(PIE.htc);
}
.main_content .article h1 {
    background-color: #060;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
	behavior: url(PIE.htc);
}

.left_column .article p {padding:5px}

.main_content .article p {margin: 5px 10px;}
 .main_content .article .img_holder {width: 200px; min-height: 250px; float: left; margin: 25px; padding: 0px;}
  .main_content .article .img_holder img {width: 200px; height: 275px;}


#footer {
    clear: both;
    width: 900px;
    margin: 10px auto;
    padding: 0px 10px;
    text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    background: #888;
    color: #000;
    display: table;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	behavior: url(PIE.htc);
}


.ui-tabs-hide {display: none}
.ui-tabs-panel{padding:0px;}

div.content {display: table;}

dl.links {margin-left: 20px;}
.links a {margin: 10px; display: block;}
.links a dt {color: #000;}
.links a dd {margin-left: 0px;}
.links a:hover {text-decoration:none;}

.gallery {overflow:hidden; clear: both;}
.gallery li {list-style: none; float: left; margin: 10px; width: 130px; text-align: center;}
.gallery .thumb-holder {width: 100px; height: 100px;}
.gallery li p {text-align: center; margin-top: 10px;}
.backToGalleries {float:right; margin-bottom: 15px;}

dl.news {margin: 0px 5px;}
dl.news dt {margin-top: 10px; font-weight: bold;}

.contacts {margin-left: 200px;}